<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discipline.discipline_name %>
</p>

<p>
  <strong>Teaching Unit:</strong>
  <%= @discipline.teaching_unit.teaching_unit_name unless @discipline.teaching_unit.nil? %>
</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
