<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Gender</th>
      <th>Matriculation number</th>
      <th>Year of birth</th>
      <th>Nationality</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.gender %></td>
        <td><%= student.matriculation_number %></td>
        <td><%= student.year_of_birth %></td>
        <td><%= student.nationality %></td>
        <td><%= student.location.name unless student.location.nil? %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
