<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Matriculation number:</strong>
  <%= @student.matriculation_number %>
</p>

<p>
  <strong>Year of birthddd:</strong>
  <%= @student.year_of_birthDDD %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @student.nationality %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
