<%= form_for(@teaching_unit) do |f| %>
  <% if @teaching_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teaching_unit.errors.count, "error") %> prohibited this teaching_unit from being saved:</h2>

      <ul>
      <% @teaching_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teaching_unit_name %><br>
    <%= f.text_field :teaching_unit_name %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.collection_select :department_id, Department.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
