<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teaching_unit.teaching_unit_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @teaching_unit.department.department_name unless @teaching_unit.department.nil? %>
</p>

<%= link_to 'Edit', edit_teaching_unit_path(@teaching_unit) %> |
<%= link_to 'Back', teaching_units_path %>
