<%= form_for(@federal_state) do |f| %>
  <% if @federal_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@federal_state.errors.count, "error") %> prohibited this federal_state from being saved:</h2>

      <ul>
      <% @federal_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :federal_state_name %><br>
    <%= f.text_field :federal_state_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
