<%= form_for(@study) do |f| %>
  <% if @study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
      <% @study.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :semester_of_matriculation %><br>
    <%= f.number_field :semester_of_matriculation %>
  </div>
  <div class="field">
    <%= f.label :kind_of_degree %><br>
    <%= f.text_field :kind_of_degree %>
  </div>
  <div class="field">
    <%= f.label :number_of_semester %><br>
    <%= f.number_field :number_of_semester %>
  </div>
  <div class="field">
    <%= f.label :matriculation_number %><br>
    <%= f.collection_select :student_id, Student.all, :id, :matriculation_number %>
  </div>
  <div class="field">
    <%= f.label :discipline_ids %><br>
    <%= f.collection_select(:discipline_ids, Discipline.all, :id, :discipline_name, {selected: @study.discipline_ids}, {multiple: true}) %>
  </div>
  <div class="field">
    <%= f.label :degree_id %><br>
    <%= f.collection_select :degree_id, Degree.all, :id, :id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
