<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :search_category %><br>
    <%= f.select :search_category, GroupingController.fetch_all_groupable_elements.keys, {}, {} %>
  </div>
  <div class="field">
    <%= f.label :search_series %><br>
    <%= f.select :search_series, GroupingController.fetch_all_groupable_elements.keys, {include_blank: true}, {} %>
  </div>
  <div class="field">
    <%= f.label :graduation_status %><br>
    <%= f.text_field :graduation_status %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br>
    <%= f.text_field :nationality %>
  </div>
  <div class="field">
    <%= f.label "Mindestalter" %><br>
    <%= f.text_field :minimum_age %>
  </div>
  <div class="field">
    <%= f.label "Höchstalter" %><br>
    <%= f.text_field :maximum_age %>
  </div>
    <div class="field">
    <%= f.label :location_name %><br>
    <%= f.text_field :location_name %>
  </div>
    <div class="field">
    <%= f.label "Abschlussart" %><br>
    <%= f.text_field :kind_of_degree %>
  </div>
  <div class="field">
    <%= f.label "Lehreinheit" %><br>
    <%= f.text_field :teaching_unit_name %>
  </div>
  <div class="field">
    <%= f.label :department_number %><br>
    <%= f.text_field :department_number %>
  </div>
  <div class="field">
    <%= f.label :discipline_name %><br>
    <%= f.text_field :discipline_name %>
  </div>
  <div class="field">
    <%= f.label :number_of_semester %><br>
    <%= f.text_field :number_of_semester %>
  </div>
  <div class="field">
    <%= f.label :number_of_semesters %><br>
    <%= f.text_field :number_of_semesters %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
