<h1>Listing searches</h1>

<table>
  <thead>
    <tr>
      <th>GraduationStatus</th>
      <th>Gender</th>
      <th>Nationality</th>
      <th>Alter (von - bis)</th>
      <th>Location Name</th>
      <th>Abschlussart</th>
      <th>Lehreinheit</th>
      <th>Fachbereich</th>
      <th>Studienfächer</th>
      <th>Aktuelles Fachsemester</th>
      <th>Benötigte Fachsemester</th>
      <th>Abschlussnote</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.graduation_status %></td>
        <td><%= search.gender %></td>
        <td><%= search.nationality %></td>
        <td><%= search.minimum_age %> - <%= search.maximum_age %></td>
        <td><%= search.location_name %></td>
        <td><%= search.kind_of_degree %></td>
        <td><%= search.teaching_unit_name %> </td>
        <td><%= search.department_number %></td>
        <td><%= search.discipline_name %></td>
        <td><%= search.number_of_semester %></td>
        <td><%= search.number_of_semesters %></td>
        <td><%= search.grade %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
