<p id="notice"><%= notice %></p>

<p>
  <strong>Search Category:</strong>
  <%= @search.search_category %>
</p>

<p>
  <strong>Search Series:</strong>
  <%= @search.search_series %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @search.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @search.nationality %>
</p>

<p>
  <strong>Alter(von - bis):</strong>
  <%= @search.minimum_age %> - <%= @search.maximum_age  %>
</p>

<p>
  <strong>Location Name:</strong>
  <%= @search.location_name %>
</p>


<% if @search.search_series.blank? %>
  <% @search.results_for_maps.each do |k, v| %>
    <%= k.to_s + ': ' + v.to_s %>
  <% end %>
<% else %>
  <% @search.results_for_highcharts.each do |k, v| %>
  	<%= k.to_s + ': ' + v.to_s %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
