<p id="notice"><%= notice %></p>

<p>
  <strong>Search Category:</strong>
  <%= @search.search_category %>
</p>

<p>
  <strong>Search Series:</strong>
  <%= @search.search_series %>
</p>

<p>
  <strong>Graduation Status:</strong>
  <%= @search.graduation_status %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @search.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @search.nationality %>
</p>

<p>
  <strong>Alter(von - bis):</strong>
  <%= @search.minimum_age %> - <%= @search.maximum_age  %>
</p>

<p>
  <strong>Location Name:</strong>
  <%= @search.location_name %>
</p>

<p>
  <strong>Abschlussart:</strong>
  <%= @search.kind_of_degree %>
</p>

<p>
  <strong>Lehreinheit:</strong>
  <%= @search.teaching_unit_name %>
</p>

<p>
  <strong>Fachbereich:</strong>
  <%= @search.department_number %>
</p>

<p>
  <strong>Studienfächer:</strong>
  <%= @search.discipline_name %>
</p>

<p>
  <strong>Aktuelles Fachsemester:</strong>
  <%= @search.number_of_semester %>
</p>

<p>
  <strong>Benötigte Fachsemester:</strong>
  <%= @search.number_of_semesters %>
</p>
<p>
  <strong>Abschlussnote:</strong>
  <%= @search.grade %>
</p>


<% @search.results_for_highcharts.each do |k, v| %>
 	<%= k.to_s + ': ' + v.to_s %>
<% end %>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
